# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/Vypex.Frontend/FileContentIndex/0bae10cb-ab95-4ff7-b66a-986a4c678b46.vsidx
/.vs/Vypex.Frontend/FileContentIndex/68e169a6-2d24-4c22-ba3f-2e51267d4d70.vsidx
/.vs/Vypex.Frontend/FileContentIndex/8785f6a0-071c-4f79-a89d-6437fb655aeb.vsidx
/.vs/Vypex.Frontend/FileContentIndex/a94dca99-777d-4e26-9fb6-0dfab4f0418e.vsidx
/.vs/Vypex.Frontend/FileContentIndex/c0827bc6-91a6-4d07-ad95-056d4344bd09.vsidx
/.vs/Vypex.Frontend/v17
/.vs/Vypex.Frontend/config
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/Vypex.Frontend/FileContentIndex
