<div style="text-align: center;">
  <h1>Vypex Employee Leave Management Portal</h1>
</div>
<div style="margin-bottom: 20px; padding: 10px;">
  <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 20%">
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearchInput($event)" nz-input
      placeholder="Search by Employee Name" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <nz-icon nzType="search" />
  </ng-template>
</div>
@if(employeesWithLeaves; as employees)
{
@if (employees.length > 0) {
<div nz-row>
  <div nz-col nzXs="24">
    <div style="text-align: center;">
      <nz-table #basicTable [nzData]="employees" nzTableLayout="auto">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Number of leaves (in days)</th>
            <th>Leaves Count</th>
            <th nzWidth="60px"></th>
            <th nzWidth="60px"></th>
          </tr>
        </thead>
        <tbody>
          @for (employee of employees; track employee) {
          <tr>
            <td>{{ employee.employeeName }}</td>
            <td>{{ employee.numberOfDays }}</td>
            <td>{{ employee.leavesCount }}</td>
            <td><button nz-button nzType="primary" [disabled]="isButtonDisabled(employee.employeeId)"
                (click)="addLeave(employee.employeeId)">Add Leave</button></td>
            @if(employee.leavesCount > 0) {
            <td [nzExpand]="expandSet.has(employee.employeeId)"
              (nzExpandChange)="onExpandChange(employee.employeeId, $event)"></td>
            }
          </tr>
          <tr *ngIf="employee.leavesCount > 0" [nzExpand]="expandSet.has(employee.employeeId)">
            <span>Existing Leaves</span>
            <td colspan="7">
              <app-leave [employee]="employee"
                (deleteLeave)="deleteLeave($event.leaveId, $event.employeeId)"
                (cancelEdit)="cancelEdit($event.leaveId, $event.employeeId)"
                (saveEdit)="saveEdit($event.leaveId, $event.employeeId)">
              </app-leave>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
}
}